<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>voting page</title>
</head>
<body>
collegeShortName:::><span> {{data.collegeShortName}}</span><br>
total students to vote:::><span>  {{data.endRoll}}-{{data.startRoll}}</span><br>
totalCandidates:::><span>  {{data.totalCandidates}}</span><br>
form was created on/at:::><span>  {{data.createdAt}}</span><br>


<p>select one option and vote.</p>
<form>
    <p>here radio button to vote will come</p>
    <input type="submit" value="vote" name="vote">
</form>



</body>
</html>